<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | @Voter.Web.Resources.Dictionary.Global_ApplicationName</title>
    @Styles.Render("~/Content/css")
    @*Font-icon css*@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("styles", required: false)
</head>
<body class="app sidebar-mini rtl">
    @*NavBar*@
    <header class="app-header">
        <a class="app-header__logo" href="@Url.Action("Index", "Home")">
            @*<img src="~/Images/WMS logo bile h51.png" />*@
            <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
            <!-- Navbar Right Menu-->
            <ul class="app-nav">
                @*<li class="app-search">
                        <input class="app-search__input" type="search" placeholder="Search">
                        <button class="app-search__button"><i class="fa fa-search"></i></button>
                    </li>*@
                <!--Notification Menu-->
                @*<li class="dropdown">
                        <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
                        <ul class="app-notification dropdown-menu dropdown-menu-right">
                            <li class="app-notification__title">You have 4 new notifications.</li>
                            <div class="app-notification__content">
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Lisa sent you a mail</p>
                                            <p class="app-notification__meta">2 min ago</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Mail server not working</p>
                                            <p class="app-notification__meta">5 min ago</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Transaction complete</p>
                                            <p class="app-notification__meta">2 days ago</p>
                                        </div>
                                    </a>
                                </li>
                                <div class="app-notification__content">
                                    <li>
                                        <a class="app-notification__item" href="javascript:;">
                                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                                            <div>
                                                <p class="app-notification__message">Lisa sent you a mail</p>
                                                <p class="app-notification__meta">2 min ago</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="app-notification__item" href="javascript:;">
                                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                                            <div>
                                                <p class="app-notification__message">Mail server not working</p>
                                                <p class="app-notification__meta">5 min ago</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="app-notification__item" href="javascript:;">
                                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                                            <div>
                                                <p class="app-notification__message">Transaction complete</p>
                                                <p class="app-notification__meta">2 days ago</p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </div>
                            <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
                        </ul>
                    </li>*@
                <!-- User Menu-->
                @*<li class="dropdown">
                        <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                        <ul class="dropdown-menu settings-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="@Url.Action("Logout", "Login")"><i class="fa fa-sign-out fa-lg"></i> Odhlásit</a></li>
                        </ul>
                    </li>*@
            </ul>
    </header>

    @* Sidebar menu *@
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">

        <div class="app-sidebar__user">
            <!-- TODO -->
            <img class="app-sidebar__user-avatar" src="@Url.Content("~/Images/sample-avatar.png")" width="48" height="48" alt="User Image">
            <div>
                <p class="app-sidebar__user-name">John Doe</p>
                <p class="app-sidebar__user-designation">Programmer</p>
            </div>
        </div>

        @*menu*@
        <ul class="app-menu">
            <li><a class="app-menu__item" href="@Url.Action("Index", "Campaign")"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Domů</span></a></li>

            <li><a class="app-menu__item" href="@Url.Action("Index", "Campaign")"><i class="app-menu__icon fa fa-money"></i><span class="app-menu__label">Ankety</span></a></li>

            @*<li><a class="app-menu__item" href="@Url.Action("Index", "Vote")"><i class="app-menu__icon fa fa-envelope"></i><span class="app-menu__label">Test</span></a></li>*@
        </ul>

    </aside>

    @* Main content *@
    <main class="app-content">
        @RenderBody()

        <hr />
        <div class="tile">
            <h4>Ladicí informace</h4>
            <div class="tile-body">
                @if (ViewBag.Activities != null)
                {
                    <fieldset class="form-group mb-0">
                        <legend class="mb-3">Operace</legend>
                        <ul>
                            @foreach (var action in ViewBag.Activities)
                            {
                                <li>@action</li>
                            }
                        </ul>
                    </fieldset>
                }
            </div>
        </div>
    </main>

    <hr />
    <footer class="float-right p-2">
        <p>&copy; @DateTime.Now.Year - Skeleton Software s.r.o.</p>
    </footer>

    @* Main javascripts for whole application *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/pace")
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div class="alerts">
        @RenderSection("alerts", required: false)
        @if (!string.IsNullOrEmpty(@ViewBag.Message))
        {
            <div class="alerts__item alert @((bool)ViewBag.IsSuccess ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
                @Html.Raw(@ViewBag.Message)
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>

    @* Page specific *@
    @RenderSection("scripts", required: false)
</body>
</html>
